@font-face {
    font-family: main;
    src: url(https://fonts.googleapis.com/css2?family=Cairo&display=swap);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cairo;
    text-decoration: none;
}
nav{
    background-color: pink;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0px 100px;
    font-weight: bold;
    float: right;
}
nav ul{
    float: left;
    margin-left: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 5px;
    list-style: none;
}
a.active,a:hover{
  background: palevioletred;
  transition: .5s;

}
#check{
    display: none;
}
@media (max-width: 952px ){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px ){
    nav ul li a{
        display: none;
    }

}
.sec1{
    background: url(pic1.jpg) no-repeat;
    background-size: cover;
    height: 100vh 80px;
    text-align: right;
    padding-right: 40px;
    padding-top: px;
    padding-bottom: 300px;
    background-color: black;
    text-shadow: 0 0 10px #000000;
}
.whoose-uss{
    color: white;
    font-weight:bolder;
    padding-top: 300px;
}
.whoose-ussan{
    color: white;
    font-weight: bold;
    overflow: right;
}
.sec2{
    background-size: cover;
    height: 100vh 80px;
    text-align: right;
    padding-right: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: pink;
    text-shadow: 0 0 10px #000000;
}
.why-uss{
    color: white;
    font-weight:bolder;   
}
.why-ussan{
    color: white;
    font-weight: bold;
}
.sec3{
    color: white;
    background-size: cover;
    height: 100vh 80px;
    text-align: right;
    padding-right: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: pink;
    text-shadow: 0 0 10px #000000;
    
}
.servics{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background: palevioletred;
    width: 270px;
    height: 470px;
    margin: 10px;
    border-radius: 15px;
}
.card h2{
    padding: 10px;
}
.card p{
    padding: 10px;
}
.card-img{
    background-color: rgb(255, 255, 255);
    height: 250px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.img1{
    background-image: url(hair-pic.jpg);
}
.img2{
    background-image: url(nail-pic.jpg);
}
.img3{
    background-image: url(makeup-pic.jpg);
}
.img4{
    background-image: url(snp-logo.png);
}
.footer{
    background-color: palevioletred;
    color: white;
    text-align: right;
    padding-right: 40px;
    padding-top: 20px;
}
.icons a{
    display: inline-block;
    font-size: 35px;
    color: white;

}
